<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }

    .bg {
      background-image: url('/assets/background.jpg');
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .content {
      color: #1b1313; /* Set text color to white */
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Student Help</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
  <div class="bg">
    <div class="container text-center mt-4 content">
      <h1>Welcome To Student Help Login Page</h1>
      <p>We are here to assist you on your academic journey. Feel free to explore and log in to access our services.</p>
      <a href="/Login" class="btn btn-outline-primary mt-3">Login Here!</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
